.section-background{
	background: url('../images/buildbanner.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
}


.custom-btn-default{
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0px;
	color: #969595;
}
